<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Output</title>
    <style>
        body { font-family: Arial, sans-serif; max-width: 600px; margin: auto; }
    </style>
    <script type="module" src="https://md-block.verou.me/md-block.js">  </script>

</head>
<body>
    <h1>Final Output</h1>
    <p>{{ output }}</p>
    <h4>Future Roadmap</h4>
    <md-block class='text-center'>{{ output2 }}</md-block>

    <a href="{{ url_for('index') }}">Go back to first page</a>
</body>
</html>
